

<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html"> <img class="logo-default" alt="logo" src="assets/images/ERPImage/Turbo ERP.PNG"> </a>
        </div>
        <div class="library-menu"> <span class="one">-</span> <span class="two">-</span> <span class="three">-</span> </div>
        <div class="top-nev-mobile-togal"><i class="glyphicon glyphicon-cog"></i></div>
        <!-- END LOGO -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
          
           


            <ul class=" navbar-nav navbar-right" style="list-style-type: none;">
                   <!-- START USER LOGIN DROPDOWN -->
                <li>
                    <ul style="list-style-type: none;">
                        <li><label style="color:white;">02-Jan-2018</label></li>
                        <li><label style="color:white;">Superadmin</label></li>
                    </ul>
                   
                </li>
               
             <li>&nbsp;&nbsp;</li>
           <li><a href="javascript:;"><img src="./assets/images/ERPImage/logout.png" width="45px" /></a></li>
          <!-- END USER LOGIN DROPDOWN -->    
        </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<div class="clearfix"> </div>
<div class="page-container">
  
    <!-- Start page sidebar wrapper -->
    <div class="page-sidebar-wrapper">
     
      <div class="page-sidebar">
          <sidebarMenu></sidebarMenu>    
      </div>
    </div>
   
    <!-- End page sidebar wrapper 
    <!-- Start page content wrapper -->
    <router-outlet></router-outlet>
        
</div>
